* {
  font-family: "Mulish", sans-serif;
  padding: 0;
  margin: 0px;
}

/* shared styles  */

:root {
  --primary-color: #ff5400;
  --base-text-size: 1rem;
  --mobile-base-text-size: 0.87rem;
  --base-text-weight: 400;
  --base-text-color: rgba(19, 19, 24, 0.7);
  --section-title: 2.5rem;
  --mobile-section-title-size: 1.25rem;
  --section-title-weight: 800;
  --section-title-color: #131318;
  --card-title: 1.5rem;
  --card-title-color: #131318;
}

.section-title {
  font-size: var(--section-title);
  font-weight: var(--section-title-weight);
  color: var(--section-title-color);
}

.base-text {
  font-size: var(--base-text-size);
  color: var(--base-text-color);
  font-weight: var(--base-text-weight);
}

.card-title {
  font-size: var(--card-title);
  color: var(--card-title-color);
  font-weight: var(--section-title-weight);
}
section {
  padding: 0px 135px;
  max-width: 1170px;
  margin: 100px auto;
}
/* shared styles  */

/* header section started  */

header {
  padding: 0px 135px;
}

.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 53px 0px;
}

.nav-logo {
  display: flex;
  align-items: center;
  color: #131318;
  font-size: 2.25rem;
  font-weight: 800;
  gap: 16px;
}

.nav-title {
  color: var(--primary-color);
}

nav ul {
  display: flex;
  gap: 48px;
}

nav ul li {
  list-style: none;
}

nav ul a {
  text-decoration: none;
  color: #424247;
  text-align: center;
  font-size: 1.12rem;
  font-weight: 400;
}

/* nav section done  */

/* banner section styles  */

.banner {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  justify-content: center;
  align-items: center;
  row-gap: 24px;
  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("./Images/Group\ 13\ \(1\)\ \(1\).png");
  width: 1170px;
  height: 500px;
  margin: 0 auto;
}

.banner h1 {
  color: #fff;
  font-size: 4rem;
  font-weight: 800;
}
.banner p {
  color: #fff;
  text-align: center;
  font-size: var(--base-text-size);
  font-weight: 400;
  width: 676px;
}

.banner-input-area {
  display: flex;
  gap: 24px;
  padding: 16px 16px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
}

.input-field {
  display: flex;
  align-items: center;
  gap: 0px;
}

.input-text-area {
  padding: 16px 0px 16px 16px;
  border-style: none;
  border-radius: 8px 0px 0px 8px;

  outline: none;
}

.input-icons {
  padding: 16px 16px 16px 0px;
  background-color: #fff;
  border-style: none;
  outline: none;
  border-radius: 0px 8px 8px 0px;
}

.btn-primary {
  color: #fff;
  text-align: center;
  font-size: var(--base-text-size);
  font-weight: 700;
  background-color: var(--primary-color);
  padding: 16px 34px;
  border-radius: 8px;
  border-style: none;
}

#icons-btn {
  margin-right: 8px;
}

/* main style area  */

.popular-tours {
  display: flex;
  align-items: center;
  gap: 53px;
}

.tour-text-area h2,
p,
ul {
  margin-bottom: 24px;
}

.list {
  padding-left: 20px;
}

.tour-img-area img {
  width: 540px;
  height: 550px;
}

/* section2 styles  */

.gallery-text {
  text-align: center;
  margin-bottom: 48px;
}

.row {
  display: flex;
  column-gap: 24px;
  margin-bottom: 24px;
}

.box {
  position: relative;
}

.box img {
  width: 100%;
}

.text-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.75rem;
  color: #fff;
  font-weight: 800;
}

/* why choose us / section 3 */
.heading-card-title {
  text-align: center;
}
.heading-card-title p {
  width: 643px;
  margin: 24px auto 48px auto;
  text-align: center;
}

.card-container {
  display: flex;
  gap: 24px;
  margin-bottom: 24px;
}

.second-card-row {
  display: flex;
  justify-content: center;
}

.card {
  width: 573px;
  padding: 32px;
  border-radius: 16px;
}

.card h4 {
  margin: 32px 0px 16px 0px;
}

.card1 {
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}

.card2 {
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}
.card3 {
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
}

/* news latter secton  */

.news-latter-container {
  padding: 40px;
  border-radius: 16px;
  border: 1px solid #ff5400;
}

.news-latter-container h4 {
  font-size: var(--card-title);
  font-weight: var(--section-title-weight);
  margin-bottom: 16px;
}

.news-latter-container p {
  margin-bottom: 24px;
}

hr {
  width: 393px;
  margin-bottom: 24px;
  background: rgba(19, 19, 24, 0.041);
}
.news-input {
  padding: 16px 20px;
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  border-style: none;
  outline: none;
  margin-top: 16px;
}

.news-input-container {
  display: flex;
  flex-direction: column;
}

.news-img-container {
  max-width: 672px;
}

.news-container {
  display: flex;
  gap: 24px;
}

.btn-second {
  color: #fff;
  border-radius: 8px;
  background: #ff5400;
  font-size: var(--mobile-section-title-size);
  font-weight: var(--section-title-weight);
  margin-top: 24px;
  border-style: none;
  outline: none;
  padding: 14px;
}
/* mobile responsive  */

@media only screen and (max-width: 600px) {
  /* header section  */

  header {
    padding: 0px 20px;
  }

  section {
    padding: 0px 20px;
    margin: 24px 0px;
  }

  /* nav section  */
  .nav-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-bottom: 17px;
  }

  .nav-logo {
    display: flex;
    align-items: center;
    font-size: 1.25rem;
  }

  nav ul {
    display: flex;
    gap: 10px;
  }

  /* banner section  */

  .banner {
    display: flex;
    flex-direction: column;
    background: linear-gradient(
        180deg,
        rgba(19, 19, 24, 0.8) 0%,
        rgba(19, 19, 24, 0) 100%
      ),
      url("./Images/Group\ 13\ \(1\)\ \(1\).png");
    background-size: auto;
    background-position: center;
    width: 335px;
    height: 100%;
    margin: 20px auto;
  }

  .banner-input-area {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 16px;
    gap: 16px;
    margin-bottom: 32px;
  }

  .banner h1 {
    font-size: 1.3rem;
    font-weight: 800;
    margin-top: 32px;
  }

  .banner p {
    font-size: 0.87rem;
    font-weight: 400;
    width: 304px;
  }

  /* section 1 styles  */
  section {
    max-width: 335px;
  }

  .popular-tours {
    display: block;
  }

  .tour-text-area {
    margin-bottom: 24px;
  }

  .section-title {
    color: var(--section-title-color);
    font-size: var(--mobile-section-title-size);
  }

  .base-text {
    font-size: var(--mobile-base-text-size);
  }
  .tour-img-area img {
    width: 100%;
    height: 100%;
  }

  /* section2 gallery styles  */

  .text-center {
    font-size: var(--mobile-section-title-size);
    font-weight: 700;
  }

  .row {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 16px;
  }

  .row img {
    width: 335px;
    height: 176px;
  }

  /* why choose us / section 3 */

  .heading-card-title p {
    max-width: 309px;
    margin: 0px auto;
    text-align: center;
  }
}
